5th Chapter/node-red.flow
[{"id":"b0424829.6ff968","type":"tab","label":"Incoming","disabled":false,"info":""},{"id":"ad026e3e.e87728","type":"tab","label":"UI","disabled":false,"info":""},{"id":"b9fdc393.e6e3","type":"ui_group","name":"Score","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a3400063.8e0548","type":"ui_group","name":"Info","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"21bebd6e.e61312","type":"ui_group","name":"Score History","tab":"","order":3,"disp":true,"width":"10","collapse":false},{"id":"8f999c4c.0842","type":"ui_group","name":"Infos","tab":"4c7eafd9.520f18","order":1,"disp":false,"width":"5","collapse":false},{"id":"4c7eafd9.520f18","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ef2a0c06.bd3e28","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c6973edd.792c7","type":"mqtt-broker","name":"","broker":"52.117.240.201","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1b5d5cd8.908473","type":"postgresdb","hostname":"52.117.240.201","port":"5432","db":"snpweather","ssl":false},{"id":"26a4383b.6f252","type":"ui_group","name":"Charts","tab":"4c7eafd9.520f18","order":2,"disp":false,"width":"10","collapse":false},{"id":"e4a3fc17.f0df88","type":"ui_group","name":"Map","tab":"4c7eafd9.520f18","order":3,"disp":false,"width":"13","collapse":false},{"id":"5128258b.4bee84","type":"mqtt in","z":"b0424829.6ff968","name":"Change Topic to your device","topic":"sensor/YOUDEVICEID","qos":"2","datatype":"auto","broker":"c6973edd.792c7","x":220,"y":100,"wires":[["2b81f0d3.dde29"]]},{"id":"973611c5.839638","type":"debug","z":"b0424829.6ff968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"2b81f0d3.dde29","type":"json","z":"b0424829.6ff968","name":"","property":"payload","action":"","pretty":false,"x":510,"y":100,"wires":[["973611c5.839638","793d1eb3.7950b"]]},{"id":"ea8dbdce.803e3","type":"function","z":"b0424829.6ff968","name":"snp weather data","func":"var d = new Date();\nvar tsest = (new Date(Date.now() - 18000000)).toISOString().slice(0, -1);  //EST -5 hours\nvar tsutc = (new Date(Date.now()).toISOString()).slice(0, -1);  //EST -5 hours\n//Greenwich Mean Time (GMT) is often interchanged or confused with Coordinated Universal Time (UTC).\n\n  \nmsg.payload.dtsinmilsec=msg.payload.dts*1000;\nmsg.payload.dts2 = (new Date(msg.payload.dtsinmilsec - (d.getTimezoneOffset()*60000) )).toISOString().slice(0, -1); //EST -5 hours\n\nmsg.payload.name=\"snp\";\nmsg.payload.location=\"ca\";\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query:\n            'insert into snpweather (timestamp,msg,tsutc,deviceid,dts,name,mac,ip,voltage,humidity,temperature,latitude,longitude) ' +\n            'values                 ($timestamp,$msg,$tsutc,$deviceid,$dts,$name,$mac,$ip,$voltage,$humidity,$temperature,$latitude,$longitude)',\n        params: {\n            dts:msg.payload.dts2,\n            // mac\n            ip:msg.payload.ip,\n            voltage:msg.payload.voltage,\n            name:msg.payload.name,\n            deviceid:msg.payload.deviceid,\n            humidity:msg.payload.humidity,\n            temperature:msg.payload.temperature,  \n            latitude:msg.payload.lat,   \n            longitude:msg.payload.lon,\n            // msg \n            timestamp:tsest,\n            tsutc:tsutc\n        },\n    },\n    {\n        query: 'commit',\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":300,"wires":[["5a7038f3.da55d8","5e012787.01b06"]]},{"id":"5a7038f3.da55d8","type":"postgres","z":"b0424829.6ff968","postgresdb":"1b5d5cd8.908473","name":"snpweather","output":true,"outputs":1,"x":450,"y":300,"wires":[["4840c9f2.31e878"]]},{"id":"4840c9f2.31e878","type":"debug","z":"b0424829.6ff968","name":"","active":false,"console":"false","complete":"false","x":760,"y":300,"wires":[]},{"id":"a36771d5.db81c8","type":"inject","z":"b0424829.6ff968","name":"Test Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"location\":\"Toronto\",\"name\":\"markus\",\"deviceid\":\"mvk01\",\"humidity\":42,\"temperature\":24.8,\"latitude\":43.67,\"logitude\":-79.41}","payloadType":"json","x":170,"y":340,"wires":[["ea8dbdce.803e3"]]},{"id":"6b96555b.c3bd7c","type":"http in","z":"b0424829.6ff968","name":"","url":"/myesp8266","method":"post","upload":false,"swaggerDoc":"","x":200,"y":440,"wires":[["73671000.8c53e8","1ab2d65e.1a51f2"]]},{"id":"73671000.8c53e8","type":"debug","z":"b0424829.6ff968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":440,"wires":[]},{"id":"1ab2d65e.1a51f2","type":"http response","z":"b0424829.6ff968","name":"","statusCode":"","headers":{},"x":480,"y":500,"wires":[]},{"id":"5e012787.01b06","type":"debug","z":"b0424829.6ff968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":340,"wires":[]},{"id":"793d1eb3.7950b","type":"switch","z":"b0424829.6ff968","name":"Check Topic","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"data","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":140,"wires":[["d5363878.dbe15"],[]]},{"id":"2d28aa74.d3f0ae","type":"link out","z":"b0424829.6ff968","name":"messages","links":["afefd500.dfacd","5e530b1b.69b844","29e3a2f8.deba7e"],"x":395,"y":220,"wires":[]},{"id":"afefd500.dfacd","type":"link in","z":"ad026e3e.e87728","name":"UI","links":["2d28aa74.d3f0ae"],"x":65,"y":100,"wires":[["86751616.3c57a8","50ba70b5.9a4c9"]]},{"id":"86751616.3c57a8","type":"function","z":"ad026e3e.e87728","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":100,"wires":[["b87e3d41.3b9248","9d966ca6.484ee","4802b3ec.607b74","ec43e57d.d2fe58","542efcae.0f24ac"]]},{"id":"50ba70b5.9a4c9","type":"debug","z":"ad026e3e.e87728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":60,"wires":[]},{"id":"b87e3d41.3b9248","type":"ui_gauge","z":"ad026e3e.e87728","name":"","group":"8f999c4c.0842","order":1,"width":"5","height":"4","gtype":"gage","title":"Voltage","label":"V","format":"{{msg.payload.voltage}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":100,"wires":[]},{"id":"5f9f14f6.82c304","type":"ui_chart","z":"ad026e3e.e87728","name":"","group":"26a4383b.6f252","order":1,"width":0,"height":0,"label":"Vol-Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":240,"wires":[[]]},{"id":"9d966ca6.484ee","type":"function","z":"ad026e3e.e87728","name":"","func":"msg.payload=msg.payload.voltage\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":240,"wires":[["5f9f14f6.82c304"]]},{"id":"c7721e54.f261","type":"function","z":"ad026e3e.e87728","name":"Set Markter","func":"\ntracker=flow.get(\"tracker\") || 1\nif(tracker === undefined)\ntracker=0;\n\ntracker++;\nflow.set(\"tracker\",tracker);\n\n\nmsg.payload.layer = \"snp\";\nmsg.payload.name  = msg.payload.deviceid\nmsg.payload.icon  = \"globe\";\nmsg.payload.iconColor = \"orange\";\nmsg.payload.lat=msg.payload.lat;\nmsg.payload.lon=msg.payload.lon;\n                            \nmsg.payload.command = { zoom:10, \n                            \"lat\":msg.payload.lat,\n                            \"lon\":msg.payload.lon,\n                            autopan:true };\n//delete msg.payload.command \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":620,"wires":[["431de2c2.ae498c","c7fc51c6.aa003"]]},{"id":"c7fc51c6.aa003","type":"debug","z":"ad026e3e.e87728","name":"MapIT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":620,"wires":[]},{"id":"34692e65.819512","type":"comment","z":"ad026e3e.e87728","name":"UI","info":"","x":80,"y":20,"wires":[]},{"id":"b427069f.5b639","type":"comment","z":"ad026e3e.e87728","name":"Add Humidit and Temperature","info":"","x":140,"y":220,"wires":[]},{"id":"5e530b1b.69b844","type":"link in","z":"ad026e3e.e87728","name":"UI","links":["2d28aa74.d3f0ae"],"x":115,"y":620,"wires":[["c7721e54.f261"]]},{"id":"10060282.06feed","type":"ui_chart","z":"ad026e3e.e87728","name":"","group":"26a4383b.6f252","order":1,"width":0,"height":0,"label":"Temp-Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":280,"wires":[[]]},{"id":"4802b3ec.607b74","type":"function","z":"ad026e3e.e87728","name":"","func":"msg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":280,"wires":[["10060282.06feed"]]},{"id":"4e8cab2c.fa2cc4","type":"comment","z":"b0424829.6ff968","name":"make sure to adjust the topic to ur device ID","info":"","x":270,"y":60,"wires":[]},{"id":"ec43e57d.d2fe58","type":"ui_gauge","z":"ad026e3e.e87728","name":"","group":"8f999c4c.0842","order":1,"width":"5","height":"4","gtype":"gage","title":"Humidity","label":"V","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":140,"wires":[]},{"id":"2fb024fb.103624","type":"ui_text","z":"ad026e3e.e87728","group":"e4a3fc17.f0df88","order":2,"width":0,"height":0,"name":"","label":"deviceid","format":"{{msg.payload.deviceid}}","layout":"row-spread","x":540,"y":480,"wires":[]},{"id":"60f2b841.741238","type":"function","z":"ad026e3e.e87728","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":480,"wires":[["2fb024fb.103624","b1d2c066.a3edf8"]]},{"id":"29e3a2f8.deba7e","type":"link in","z":"ad026e3e.e87728","name":"UI","links":["2d28aa74.d3f0ae"],"x":105,"y":480,"wires":[["60f2b841.741238"]]},{"id":"b1d2c066.a3edf8","type":"ui_text","z":"ad026e3e.e87728","group":"e4a3fc17.f0df88","order":2,"width":0,"height":0,"name":"","label":"Time:","format":"{{msg.payload.tsest}}","layout":"row-spread","x":530,"y":520,"wires":[]},{"id":"d5363878.dbe15","type":"function","z":"b0424829.6ff968","name":"TS adjustments","func":"var d = new Date();\nvar tsest = (new Date(Date.now() - 18000000)).toISOString().slice(0, -1);  //EST -5 hours\nvar tsutc = (new Date(Date.now()).toISOString()).slice(0, -1);  //EST -5 hours\n//Greenwich Mean Time (GMT) is often interchanged or confused with Coordinated Universal Time (UTC).\nmsg.payload.tsest=tsest;\n  msg.payload.tsutc=tsutc;\nmsg.payload.dtsinmilsec=msg.payload.dts*1000;\nmsg.payload.dts2 = (new Date(msg.payload.dtsinmilsec - (d.getTimezoneOffset()*60000) )).toISOString().slice(0, -1); //EST -5 hours\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":220,"wires":[["2d28aa74.d3f0ae"]]},{"id":"542efcae.0f24ac","type":"ui_gauge","z":"ad026e3e.e87728","name":"","group":"8f999c4c.0842","order":1,"width":"5","height":"4","gtype":"gage","title":"Msg Counter","label":"V","format":"{{msg.payload.msg}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":180,"wires":[]},{"id":"91048b76.1c8b4","type":"mqtt in","z":"ad026e3e.e87728","name":"","topic":"sensor/#","qos":"2","datatype":"auto","broker":"c6973edd.792c7","x":80,"y":560,"wires":[[]]},{"id":"431de2c2.ae498c","type":"ui_worldmap","z":"ad026e3e.e87728","group":"e4a3fc17.f0df88","order":4,"width":"19","height":"12","name":"","lat":"43","lon":"-79","zoom":"12","layer":"Esri","cluster":"6","maxage":"6000","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldmap","x":500,"y":660,"wires":[]}]
